html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #8f9399;
    font-family: 'Cairo', sans-serif;
}

a {
    font-family: 'Raleway', sans-serif;
    color: #ff7f50;
}

.textFirst {
    order: -1;
    width: 100%;
}

.textSecond {
    order: 1;
    width: 100%;
}
